.send-transaction {
  background-color: rgb(26, 26, 28);
  color: rgb(248, 248, 251);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  box-shadow: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 0px auto;
  padding: 24px;
}

.send-transaction .MuiTabs-root {
  overflow: hidden;
  min-height: unset;
  display: inline-flex;
  padding: 2px;
  font-size: 12px;
  margin-bottom: 8px;
}

.send-transaction .MuiTabs-root .MuiTabs-scroller {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.send-transaction .MuiTabs-root .MuiTabs-flexContainer {
  background: rgb(42, 42, 45);
  height: 28px;
  max-width: fit-content;
  border-radius: 999px;
}

.send-transaction .MuiTabs-root .MuiTabs-indicator {
  background-color: transparent;
}

.send-transaction .MuiTab-root {
  color: inherit;
  font-size: 12px;
  text-transform: unset;
  z-index: 2;
  padding: 8px 16px;
  min-height: unset;
  white-space: nowrap;
  border-radius: 999px;
  overflow: visible;
  transition: color 100ms ease 0s;
  opacity: 0.6;
  font-weight: 600;
}


.send-transaction .MuiTab-root.Mui-selected {
  background-color: rgba(255, 255, 255, 0.125);
  opacity: 1;
  color: inherit;
}

.send-transaction .MuiBox-root {
  margin-bottom: 8px;
}

.send-transaction .MuiTypography-body2 {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.43;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 700;
}

.send-transaction .address-input .MuiInputBase-root {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4375em;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(248, 248, 251);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  background-color: rgba(88, 88, 91, 0.5);
  position: relative;
  border-radius: 8px;
}

.send-transaction .address-input .MuiInputBase-root .MuiOutlinedInput-input {
  height: 17px;
  overflow: hidden;
}

.send-transaction .address-input .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(248, 248, 251);
  border-width: 1px;
}

.send-transaction .address-input .MuiFormHelperText-root {
  position: absolute;
  top: 51px;
  left: -14px;
}

.send-transaction .balance-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
}

.send-transaction .balance-stack .MuiTypography-body1 {
  margin: 0px;
  font-size: 12px;
  line-height: 1.8;
  font-weight: 400;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(180, 180, 183);
}

.send-transaction .amount-stack {
  display: flex;
  flex-direction: row;
  background-color: rgba(88, 88, 91, 0.5);
  color: rgb(248, 248, 251);
  border-radius: 8px;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

.send-transaction .amount-stack .MuiInputBase-root {
  padding: 8px;
}

.send-transaction .amount-stack .MuiInputBase-root .MuiSelect-select {
  color: rgb(248, 248, 251);
  font-weight: 600;
  font-size: 14px;
  padding-left: 8px;
}

.send-transaction .amount-stack .MuiInputBase-root .MuiSelect-select.Mui-disabled {
  color: rgb(134 134 137);
  -webkit-text-fill-color: rgb(134 134 137);
}

.send-transaction .amount-stack .MuiInputBase-root .MuiSelect-icon {
  color: rgb(248, 248, 251);
}

.send-transaction .amount-stack .MuiInputBase-root.MuiOutlinedInput-root {
  padding-left: 16px;
}

.send-transaction .amount-stack .MuiInputBase-root.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.send-transaction .amount-stack .MuiInputBase-root.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.send-transaction .amount-stack .MuiFormHelperText-root {
  position: absolute;
  top: 57px;
}

.send-transaction .amount-stack .amount-input {
  padding: 8.5px 8px 8.5px 14px;
  border-radius: 8px;
  color: rgb(248, 248, 251);
}

.send-transaction .amount-stack .amount-input .MuiInputBase-root {
  padding: 0;
  padding-left: 16px;
  background-color: rgb(26, 26, 28);
}

.send-transaction .amount-stack .amount-input .MuiInputBase-input {
  padding: 0;
  border-radius: 8px;
  color: rgb(248, 248, 251);
}

.send-transaction .amount-stack .amount-input .MuiInputBase-input:disabled {
  -webkit-text-fill-color: rgb(134 134 137);
}

.send-transaction .amount-stack .amount-input .MuiButton-root {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(58, 163, 255);
}

.send-transaction .amount-stack .amount-input .MuiButton-root:disabled {
  color: rgb(134 134 137);
}

.send-transaction input[type=number]::-webkit-inner-spin-button,
.send-transaction input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.send-transaction .send-button,
.send-transaction .connect-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 40px 0px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-transform: unset;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: none;
  white-space: nowrap;
  border-radius: 999px;
  min-width: 40px;
  font-size: 14px;
  line-height: 1.143;
  font-weight: 600;
  padding: 12px 16px;
}

.send-transaction .connect-button {
  margin-top: 16px;
  padding: 8px 16px;
}

.send-transaction .send-button:hover,
.send-transaction .connect-button:hover {
  background-color: rgb(178, 178, 178);
}

.send-transaction .send-button.Mui-disabled,
.send-transaction .connect-button.Mui-disabled {
  color: rgb(108, 108, 110);
  background-color: rgb(58, 58, 60);
  pointer-events: none;
  cursor: default;
  box-shadow: none;
}

.send-transaction .connect-wallet {
  background-color: rgb(26, 26, 28);
  color: rgb(248, 248, 251);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;
  margin-top: 24px;
  padding: 16px;
  text-align: center;
}

.send-transaction .connect-wallet .MuiTypography-caption {
  margin: 0px;
  font-size: 12px;
  line-height: 1.167;
  font-weight: 400;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  color: rgb(180, 180, 183);
}

.send-transaction .last-container {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  font-size: 12px;
}

.send-transaction .last-container .MuiBox-root {
  background-color: rgba(88, 88, 91, 0.5);
  border-radius: 8px;
  padding-bottom: 16px;
}

.send-transaction .last-container tr {
  height: 40px;
  font-size: 12px;
}

.send-transaction .last-container th {
  max-width: 80%;
  min-width: 125px;
  padding: 0;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  color: rgb(248, 248, 251);
  font-size: 12px;
  font-weight: 600;
}

.send-transaction .last-container td {
  height: 40px;
  padding: 5px;
  text-align: center;
  color: rgb(248, 248, 251);
  font-size: 12px;
  font-weight: 400;
}
